# Исключаем временные и кэшированные файлы
**/__pycache__
**/.venv
**/npm-debug.log
**/*.dbmdl
**/*.jfm

# Исключаем конфиденциальные данные
**/.env
**/secrets.dev.yaml
**/values.dev.yaml

# Исключаем системные и конфигурационные файлы
/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user

# Исключаем каталоги и файлы сборки
**/Help
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/backend.debug.Dockerfile*
**/node_modules
**/obj
**.dockerignore

# Исключаем документацию (если не нужна в образе)
LICENSE
README.md